body {
    background-color: rgb(230, 230, 225);
    
}

.signup2 {
    width: 360px;
    padding: 10% 0 0 ;
    margin: auto;
}

.title-login2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 0 40px 0;
}

.registro2 {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 1px rgb(110, 110, 110);
}

.registro2 input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 2px 2px rgb(110, 110, 110);

}

.registro2 button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0077b6;
    width: 100%;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 3px 3px rgb(110, 110, 110);

}

.signup2 button: hover,.signup button: active {
    background: #43a047;
}

/* Se tirar esse código abaixo vai aparecer tanto a parte de login quanto sign up */

.signup2 .registro-form2 {
    display: none;

}

